<a href="https://colab.research.google.com/github/NemisysAxe/Bootcamp-Exploratory-Data-Analysis-/blob/main/notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Bootcamp Exploratory data analysis

The data set consists of health and demographic data for the period 2014-2015, obtained from Global Health Observatory Data Repository.

Questions

1. Are there any missing values in the data set? What, if anything should be done about them if there are?

2. Are there any other problems with the data? If so, fix them.

3. Identify the country with the lowest % of their population under 15 and the one with the highest.

4. Which region has the highest % of their population over 60?

5. Does fertility decrease as income increases? Are there any countries that donâ€™t seem to follow this relation?

6. Which regions have the lowest literacy rates?

7. Which regions have the lowest child mortality rates?

8. What is the life expectancy across different regions? Create a box-and-whisker plot to investigate this. What can we conclude about life expectancy across different regions?

9. How is life expectancy related to wealth across different regions? How is wealth related to fertility across different regions? Do these relationships hold for African countries?

10. Create appropriate graphs to visually represent the relationship between literacy and life expectancy by region, and then for African countries. What can be concluded from the graphs? How confident can we be in the relationships represented here?

#Exporting the csv file into collab.

In [3]:
import pandas as pd

url = 'https://raw.githubusercontent.com/NemisysAxe/Bootcamp-Exploratory-Data-Analysis-/main/data.csv'

df1 = pd.read_csv(url)
df1.head()

,Country,Region,Population,Under15,Over60,FertilityRate,LifeExpectancy,ChildMortality,CellularSubscribers,LiteracyRate,GNI,PrimarySchoolEnrollmentMale,PrimarySchoolEnrollmentFemale
0,Afghanistan,Eastern Mediterranean,29825,47.42,3.82,5.40,60,98.5,54.26,NaN,1140.0,NaN,NaN
1,Albania,Europe,3162,21.33,14.93,1.75,74,16.7,96.39,NaN,8820.0,NaN,NaN
2,Algeria,Africa,38482,27.42,7.17,2.83,73,20.0,98.99,NaN,8310.0,98.2,96.4
3,Andorra,Europe,78,15.20,22.86,NaN,82,3.2,75.49,NaN,NaN,78.4,79.4
4,Angola,Africa,20821,47.58,3.84,6.10,51,163.5,48.38,70.1,5230.0,93.1,78.2

In [4]:
import pandas as pd

url = 'https://raw.githubusercontent.com/NemisysAxe/Bootcamp-Exploratory-Data-Analysis-/main/data.csv'

df1 = pd.read_csv(url)

df1.shape

(194, 13)

# 1. Yes there are values missing and the following can be done to handle the missing values. 


*   Either fill the null(missing) values with some values (like statistical findings such as an mean or median)
*   Drop such rows
*   Either replace them with zero (0)

In [ ]:
import pandas as pd
url = 'https://raw.githubusercontent.com/NemisysAxe/Bootcamp-Exploratory-Data-Analysis-/main/data.csv'

df1 = pd.read_csv(url)

df1.isnull()

The following table displays a breakdown of the number of missing values within each category.

In [8]:
df1.isnull().sum()

Country                           0
Region                            0
Population                        0
Under15                           0
Over60                            0
FertilityRate                    11
LifeExpectancy                    0
ChildMortality                    0
CellularSubscribers              10
LiteracyRate                     91
GNI                              32
PrimarySchoolEnrollmentMale      93
PrimarySchoolEnrollmentFemale    93
dtype: int64

In [1]:
df.isnull().sum().sum()

NameError: ignored

# 2. Other problems with the data 



*   The columns with missing values are columns that mostly contain floats, therefore the 'NaN' entry should be replaced with numeric values to match the other element types (floats). 

*   List item